
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   font-family: sans-serif;
 }
 
 *::before, *::after {
   box-sizing: inherit;
 }
 

 .navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 50px 0 40px;
 }
 
 .menu {
   display: flex;
   list-style: none;
 }
 
 .menu li {
   padding: 20px;
 }
 
 .menu a {
   font-size: 18px;
   color: #131212;
   text-decoration: none;
 }
 
 .logo a {
   font-size: 35px;
   text-decoration: none;
 }
 
 .logo span {
   color: #ff5c00;
 }
 

 .home {
   display: flex;
   height: 100vh;
   background-image: url(Untitled-1.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 }
 
 .left {
   flex-basis: 20%;
 }
 
 .right {
   margin: 0 30px;
   color: #000;
 }
 
 .center-content {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   text-align: left;
 }
 
 h2 {
   font-size: 30px;
   margin: 30px 0;
   font-weight: 300;
 }
 
 h1 {
   font-size: 60px;
   font-weight: 600;
   margin-bottom: 30px;
 }
 
 p {
   color: rgb(148, 142, 142);
   text-align: center;
 }

 .developer {
   position: absolute;
   transform: rotate(270deg);
   transform-origin: left top;
   top: 99%;
   font-size: 55px;
   letter-spacing: 35px;
   width: 100vh;
   color: rgb(168, 167, 167);
 }
 

 .btn {
   margin-top: 30px;
   padding: 20px 40px;
   border-radius: 7px;
   font-size: 16px;
   border: solid 1px #ff5c00;
   cursor: pointer;
 }
 
 .downloadcv {
   background-color: #ff5c00;
   color: #fff;
 }
 
 .contactme {
   background-color: transparent;
   color: #ff5c00;
 }
 
 




