* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
 }
 
 .navbar
 {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin-top :  50px;
    margin-bottom: 40px;
 }
 ul{
    display:flex;
    text-decoration: none;
    
 }
 .home
 {
   display: flex;
   height: 100%;
   background-image: url(Untitled-1.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
  }
 .right
 {
 margin: 0px 30px;
 
 color: #000000;
 }
 .left
 {
 flex-basis: 20%;
 }
 .developer
 {
    position: absolute;
    transform: rotate(270deg);
    transform-origin: left top;
    top: 99%;
    font-size: 55px;
    font-family: sans-serif;
    letter-spacing: 35px;
    width: 100vh;
    color: rgb(168, 167, 167);
 }
 .menu
 {
     margin-left: 50px;
     }
 li 
 {
   
    list-style: none;
    padding: 20px;
 }
 .container
 {
 height:100vh;
 
 
 }
 .center-content
 {
 
 display: inline-block;
 }
 h2
 {
 display: inline-block;
 font-size: 30px;
 margin:30px 0px;
 font-weight: 300;
 }
 h1
 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 30px;
 }
 .logo span
 {
   color: #ff5c00;
    }
    .logo a
 {       
    text-decoration: none; 
    font-size: 35px;                          
 }
 a 
 {       
    text-decoration: none; 
    font-size: 18px;
    color: #131212;                          
 }
 p
 {
    color: rgb(148, 142, 142);
    }
 button, .hireme
 {
   margin-top: 30px;
   color: #ffff;
   background-color: #ff5c00;
   border-radius: 7px;
   padding:20px 40px;
   margin-right: 20px ;
   font-size: 16px;
   border: solid 1px #ff5c00;
   }
  .contactme
 {
    background-color: transparent;
    border-color:#ff5c00;
    color: #ff5c00;
    }